* {
   border: none;
   padding: 0;
   font-size: 13px;
   margin: 0;
   font-family: Product Sans ,Arial, Helvetica, sans-serif;
   /* font-weight: 500; */
}

window#waybar {
   background-color: transparent;
   color: #ffffff;
}

#workspaces {
  background-color:  #3b4252;
  padding: 0 10 0 10;
  font-size: 15px;
  border-radius: 15px;
  margin-right: 7;
}

#workspaces button {
  font-size: 14px;
  border-radius: 0px;
  margin: 0;
  padding: 0 12 0 12;
  background-color: transparent;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  color: #ffffff;
}

#window {
  background-color: transparent;
  color: #2e3440;
	padding-right: 10px;
  font-size: 14px;
  font-weight: 700;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    box-shadow: inherit;
    color: #5e81ac;
    border-top: 3px solid transparent;
    border-bottom: 3px solid #5e81ac;
}

#workspaces button.focused {
    color: #81a1c1;
    border-top: 3px solid transparent;
    border-bottom: 3px solid #81a1c1;
}

#workspaces button.urgent {
    color: #eb4d4b;
}

#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
}

/* WAYBAR-MEDIA */

#custom-waybar-media {
  background-color:  #3b4252;
  padding: 0 15 0 15;
  border-radius: 15px;
}

#custom-waybar-media.playing {
  background-color:  #5e81ac;
}

#custom-waybar-media.paused {
  background-color:  #3b4252;
}

/* TASKBAR */

#taskbar {
  background-color:  #3b4252;
  padding: 0 12 0 12;
  font-size: 15px;
  border-radius: 15px;
  margin-right: 7;
}

#taskbar button {
	border-radius: 0px;
  margin: 0;
	padding: 0 10 0 15;
  /* padding-right: 5px; */
  background-color: transparent;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

#taskbar button.active {
    color: #81a1c1;
    border-top: 3px solid transparent;
    border-bottom: 3px solid #81a1c1;
}

#taskbar button.minimized {
    color: #7c818c;
    border-top: 3px solid transparent;
    border-bottom: 3px solid #7c818c;
}

#taskbar button:hover {
    box-shadow: inherit;
    color: #5e81ac;
    border-top: 3px solid transparent;
    border-bottom: 3px solid #5e81ac;
}

/* BROWSER BOOKMARKS */

#custom-newtab, #custom-name, #custom-github,#custom-reddit,#custom-crunchyroll,#custom-youtube,#custom-mail {	
  background-color:  #3b4252;
  font-size: 14px;
  margin: 0;
  padding: 0 13 0 13;
}

#custom-newtab {
  color: #bf616a;
  border-radius: 15px 0 0 15px;
}

#custom-github {
	color: #d08770;
}

#custom-reddit {
	color: #ebcb8b;
}

#custom-crunchyroll {
  font-size: 13px;
  color: #a3be8c;
  margin-right: 15px;
  border-radius: 0 15px 15px 0;
}

#custom-youtube {
	font-size: 13px;
	color: #b48ead;
}

#custom-mail {
  color: #88c0d0;
}

/* WIDGETS */

#custom-name {
  border-radius: 15px;
  margin-right: 10;
}

#clock {
  background-color: #5e81ac;
  border-radius: 10px;
  padding: 0px 8px 0px 8px;
  margin-right: 7;
  font-weight: 600;
}

#cpu, #custom-pacman, #custom-playerctl, #memory, #backlight, #disk, #network, #pulseaudio, #custom-weather, #custom-media, #temperature, #mpd {
  margin: 0;
  background-color:  #3b4252;
  padding: 0px 10px 0px 10px;
}

#custom-weather {
  /* padding-top: 4px; */
}

#custom-pacman {
	padding: 0px 8px 0px 8px;
  color: #ebcb8b;
  font-weight: 600;
}

#custom-playerctl {
  border-radius: 15px
}

#pulseaudio.muted {
  background-color: #b1b190;
  color: #2a5c45;
}

#custom-media.custom-vlc {
  background-color: #3b4252 ;
	padding: 0px 8px 0px 8px;
	border-radius: 5px;    
}


#temperature.critical {
  color: #eb4d4b;
}

#tray {
  margin: 0;
  background-color: #3b4252 ;
	padding: 0px 12px 0px 8px;
  border-radius: 0 15px 15px 0;
  margin-right: 7;
  color: #8fbcbb;
}

#battery {
  margin: 0;
  background-color: #3b4252 ;
	padding: 0px 8px 0px 8px;
}

#battery.charging {
  color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#idle_inhibitor {
  margin: 0;
  background-color: #3b4252 ;
  font-size: 20px;
  color: #6f7787;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 15px 0 0 15px;
  margin-left: 10;
}

#idle_inhibitor.activated {
  color: #ffffff;
}

#custom-power {
  background-color:  #DB8E9D;
  font-weight: normal;
  font-size: 16px;
  padding: 0px 13px 0px 13px;
  border-radius: 10px;
  margin-right: 0;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

